<app-banner imgSrc="assets/imagens/banner-homepage.png" alt="banner home"></app-banner>
<app-container>
  <h2>Promoções:</h2>
  <app-form-busca></app-form-busca>
  <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
  </div>
  <h2>Depoimentos:</h2>
  <div class="card-wrapper">
    <app-card-depoimento avatar="assets/imagens/avatar-01.png" autoria="João Pedro"></app-card-depoimento>
    <app-card-depoimento avatar="assets/imagens/avatar-04.png" autoria="Marcos Leon"></app-card-depoimento>
    <app-card-depoimento avatar="assets/imagens/avatar-03.png" autoria="Mariana Faustino"></app-card-depoimento>
  </div>
</app-container>
